<h1> <%= @task.title %> </h1>
<p> <%= @task.details %> </p>
<p> Completed: <%= @task.completed? %> </p>

<%= link_to "Delete",
# link to "text"
  task_path(@task),
  # instance of the task to be deleted
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  # turbo_method = method delete, turbo_confirm = message pop-up.
%>
